body {
    background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    bottom: auto;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    height: 570px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5);
}

label {
    color: white;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}
input,textarea {
  background-color: rgb(23, 6, 65);
}
h1 {
  color: white;
}
